input:invalid,
select:invalid,
textarea:invalid{
    border-color: red !important;
}

select[size].form-control-sm{
    height: 30px !important;
}

.dropdown-item .empty-message{
    font-size: 13px;
    font-weight: bold;
    background: #fff !important;
}

.dropdown-item .actived{
    background: #fff;
}

.dropdown-item .actived.tt-cursor, .dropdown-item .actived:hover{
    background: whitesmoke;
}

.dropdown-menu{
    border: 1px solid rgba(0, 0, 0, 0.17) !important;
}

.style-hint{
    opacity: 0.5 !important;
    background-color: none !important;
}

.tt-input:disabled, .tt-input[readonly]{
    background-color: #EEEEEE !important;
}

.twitter-typeahead .dropdown-menu{
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.twitter-typeahead .dropdown-menu .suggestion{
    text-overflow: ellipsis;
    overflow: hidden;
}

.twitter-typeahead.be-loading:after{
    display: none !important;
}

.twitter-typeahead .be-spinner {
    transform: scale(0.3);
    top: 12px !important;
    right: 15px !important;
}

.twitter-typeahead .be-spinner svg .circle{
    stroke-width: 6px !important;
}

.col-1-5{
    -ms-flex: 0 0 12.6666666667% !important;
    flex: 0 0 12.6666666667% !important;
    max-width: 12.6666666667% !important;
}

table.dataTable tr.selected{
    background: #4285f4 !important;
    color: #fff !important;
}

.nav-tabs{
    background: #f5f5f559 !important;
}

.nav-tabs-default > li.nav-item a.nav-link.active{
    border-bottom: 2px solid #2761c1 !important;
    background-color: #4285f4 !important;
    color: #fff !important;
}

.nav-tabs-default > li.nav-item a.nav-link:not(.active):hover{
    color: #4285f4 !important;
}

table.dataTable thead > tr > th:not(:first-of-type), table.dataTable tbody > tr > td:not(:first-of-type){
    border-left: 1px solid rgba(0,0,0,0.05);
}

.bg-cinza{
    background-color: rgba(0,0,0,0.02) !important;
}
